<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - Cookbook</title>
    {% else %}
        <title>Welcome to Cookbook</title>
    {% endif %}
</head>
<body>

<div>Cookbook:
    <a href={{ url_for('index') }}>Home</a>
    <a href={{ url_for('favorites') }}>Favorites</a>
    <a href={{ url_for('add_page') }}>Add A Recipe</a>
    <a href={{ url_for('get_recipe') }}>Recipe</a>
</div>


<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>